@import "_variables";

#edit-htb-isa,
#edit-santander-select {
  width: 250px;
}

#edit-show-products {
  margin-top: 15px;
  margin-bottom: 15px;
}

#edit-show-products-comparison {
  margin-bottom: 15px;
}

/* Input fields */

.webform-submission-form.mortgage-comparison {

  .form-item select {
    line-height: 1.2;
  }

  .form-item-property-value .form-input-container {
    max-width: 200px;
  }

  .form-item-borrow-amount .form-input-container {
    max-width: 265px;
  }

  .form-item-buyer-type .select-wrapper,
  .form-item-mortgage-term .select-wrapper {
    max-width: 300px;
  }

  .form-item-cost-period {
    max-width: 185px;
  }

  .webform-type-radios legend span,
  .form-item label {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .webform-type-radios .form-item label {
    margin: 0;
  }

  .representative-example {

    margin-bottom: 20px;

    h3 {
      margin-top: 10px;
    }

    .representative-example-wrapper {
      border: 1px solid lightblue;
      padding: 15px;
    }
  }
}

/* Results */

@media (max-width: 991px) {
  #btn-show-questions {
    margin-top: 10px;
  }
}

#edit-table-actions {

  margin-top: 15px;
  margin-bottom: 15px;

  button {

    width: 300px;

    &:first-child {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

#edit-show-all-products, #edit-compare-products, #edit-show-products-comparison, #edit-decision-in-principle {

  @media (min-width: 768px) {
    margin-right: 20px;
    float: left;
  }
}

.webform-submission-form.mortgage-comparison {

  .results-wrapper {

    border: 1px solid lightblue;
    overflow: auto;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {

      &> .row:first-child > div.col-xs-12 {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .results-wrapper .how-much-calc {
    margin-top: 20px;
  }

/* Rows hidden by filtering */

  .view-mortgage-products #product-comparison-table .row-data.filtered {
    display: none;
  }

  .view-mortgage-products #product-comparison-table .row-data.hidden {
    display: none;
  }
}

/* General layout of the comparison table */

#product-comparison-table {

  .row-data {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .select-panel {

      flex: 0 0 auto;
      width: 100%;
      padding: 10px;

      .field-select.checkbox {
        margin: 0;
      }

      @media (min-width: 768px) {
        width: 25%;
        padding: 10px 10px 0 10px;
      }
    }

    .fields-panel {

      flex: 0 0 auto;
      width: 100%;
      padding: 10px 10px 0 10px;

      @media (min-width: 768px) {
        width: 75%;
      }
    }

    .primary-fields {
      display: flex;
      flex-wrap: wrap;
    }

    .field-title,
    .field-value {
      flex: 0 0 auto;
      height: 50%;
    }

    .field-title {

      min-height: 0;

      @media (min-width: 768px) {
        min-height: 45px;
      }
    }

    .field-value {

      min-height: 0;

      @media (min-width: 768px) {
        min-height: 45px;
      }
    }

    .field-value-links {

      padding: 0 10px;

      a {
        color: white;
        text-decoration: underline;
      }

      p {
        margin-bottom: 2px;
      }
    }

    .primary-fields .field ,
    .secondary-fields .field {
      flex: 0 0 auto;
      width: 50%;
//      margin-bottom: 10px;
      padding-bottom: 0;

      @media (min-width: 768px) {
        width: 25%;
      }
    }

    .secondary-fields {
      display: flex;
      flex-wrap: wrap;
    }

    .footer-fields {

      display: flex;
      flex-wrap: wrap;

      .field {
        display: block;
        flex: 0 0 auto;
        width: 100%;
        margin-top: 10px;
      }

      @media (min-width: 768px) {

        .field-additional-benefits {
          width: 75%;
        }

        .field-hide-extra {
          width: 25%;
        }
      }
    }
  }

  /* Secondary data show/hidden by toggle */

  .secondary-fields-wrapper {
    display: none;
  }

  /* Colors/styles etc... */

  background-color: #eef6f8;
  padding-top: 20px;
  padding-bottom: 20px;

  .select-panel {
    background-color: red;
    color: white;
  }

  .fields-panel {
    background-color: white;
  }

  .field {

    padding: 0 10px;

    @media (min-width: 768px) {
      padding: 10px;
    }
  }

  .field-title {
    font-size: 16px;
  }

  .field-value {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }

  .row-data .footer-fields .field-additional-benefits .field-value {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }

  .row-data .trigger-secondary-fields {
    font-size: 18px;
    color: red;
    cursor: pointer;
  }
}

/* web18 checkbox - Basically the same as bp-terms checkboxes but with improvements */

.webform-submission-form.mortgage-comparison {

  .checkbox {

    input[type="checkbox"] {
      opacity: 0;
    }

    label {

      padding-left: 20px;
      text-align: left;
      font-weight: bold;
      display: block;

      .bp-checkbox {
        display: inline-block;
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0;
        top: -4px;
        border: 1px solid #9bc3d3;
        border-radius: 5px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      }

      .text {
        margin-left: 20px;
      }
    }

    input:checked ~ .bp-checkbox {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 28px;
      color: #EC0000;
      text-align: center;
      line-height: 35px;
      background-size: 50%;
      display: block;
    }

    .bp-checkbox:after {
      content: '';
      position: absolute;
      display: none;
    }

    input:checked ~ .bp-checkbox:after {
      display: block;
    }

    .bp-checkbox:after {
      content: '';
      left: 11px;
      top: 5px;
      width: 8px;
      height: 17px;
      border: solid #000;
      border-width: 0 3px 3px 0;
      transform: rotate(35deg);
    }

    /* Checkbox overrides for the compare form */

    label .text {
      font-size: 16px;
      line-height: 26px;
    }

    input:checked ~ .bp-checkbox {
      text-shadow: none;
    }
  }
}

/* Detailed mortgage comparison table */

#mortgage-comparison-title {
  font-size: 24px;
}

#edit-mortgages-comparison {

  thead {

    display: none;

    @media (min-width: 768px) {
      display: table-header-group;
    }
  }

  thead th.heading {
    width: 258px;
  }

  thead th.col {
    width: 234px;
  }

  .heading, .col {

    padding: 0;

    @media (min-width: 768px) {
      padding: 16px;
    }
  }

  tbody {

    @media (min-width: 768px) {
      border: 1px solid #6f7779;
    }
  }

  thead .col {

    position: relative;

    background-color: red;
    color: white;

    border-right: 1px solid red;

    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

    &::after {
      content: '';
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      height: 50%;
      display: block;
      position: absolute;
      top: 25%;
      right: 0;
    }

    &:last-child::after {
      display: none;
    }
  }

  tr {

    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: 1px solid #6f7779;

    @media (min-width: 768px) {
      display: table-row;
      margin-bottom: 0;
      border: none;
    }

    td,th {

      display: flex;

      @media (min-width: 768px) {
        display: table-cell;
      }

      .field-title {

        display: block;
        flex: 0 1 auto;
        border-right: 1px solid #6f7779;
        width: 40%;
        min-width: 110px;
        max-width: 240px;
        text-align: left;
        padding: 10px;
        font-weight: bold;

        @media (min-width: 768px) {
          display: none;
          padding: 0;
          font-weight: normal;
        }
      }

      .field-value {

        padding: 10px;
        margin: auto;
        width: 60%;

        @media (min-width: 768px) {
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  tr td.col-product-1 {

    background-color: #eef6f8;

    @media (min-width: 768px) {
      background: none;
    }
  }

  tr.even {

    background: none;

    @media (min-width: 768px) {
      background-color: #eef6f8;
    }
  }

  tr th.heading {

    position: relative;

    background-color: #6f7779;
    color: white;

    font-size: 15px;
    font-weight: 600;
    line-height: 20px;

    padding: 20px 10px;

    display: inline-block;
    text-align: center;

    @media (min-width: 768px) {
      padding: 16px;
      display: table-cell;
      text-align: left;
    }
  }

  @media (min-width: 768px) {

    tbody tr th.heading::after {
      content: '';
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      width: 90%;
      display: block;
      position: absolute;
      bottom: 0;
    }

    tbody tr:last-child th.heading::after {
      display: none;
    }
  }

  tr.row-header th.heading {
    visibility: hidden;
  }

  tbody td.col {

    font-size: 14px;

    @media (min-width: 768px) {
      font-size: 15px;
      border-right: 1px solid #6f7779;
    }

    line-height: 20px;
    font-weight: normal;
    text-align: center;
  }
}
