@import "_variables";

/*  Mortage calculator additional styles */

.webform-submission-form.mortgage-calculator-additional {

  .form-item-property-value .form-input-container {

    max-width: 298px;

    @media (min-width: 768px) {
      max-width: 200px;
    }
  }

  div[id^="edit-loan-term-container"] {
    margin-top: 20px;
  }

  // #edit-loan-term-container {
  //   margin-top: 20px;
  // }

  .form-item-loan-part-amount-1 .form-input-container,
  .form-item-loan-part-amount-2 .form-input-container,
  .form-item-loan-part-amount-3 .form-input-container,
  .form-item-loan-part-amount-4 .form-input-container,
  .form-item-loan-part-amount-5 .form-input-container {
    max-width: 200px;
  }

  .container-loan-parts {

    .loan-part {

      padding: 10px;
      border: 1px solid #daeaef;
      margin-top: 20px;

      .form-item.radio .control-label {
        min-width: 128px;
      }

      .fieldset-wrapper {
        margin-top: 0;
      }

      .fieldset-legend {
        margin-top: 0;
      }

      &.loan-part-hidden {
        display: none;

        legend {
          display: none;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      .form-group {
        margin-bottom: 5px;
      }

      @media (max-width: 768px) {
        .btn-remove-loan-part {
          margin-top: 12px;
        }
      }

      // @media (min-width: 768px) {
      //   #edit-loan-part-actions-wrapper-2,
      //   #edit-loan-part-actions-wrapper-3,
      //   #edit-loan-part-actions-wrapper-4,
      //   #edit-loan-part-actions-wrapper-5 {
      //     .form-type-processed-text {
      //       text-align: right;
      //     }
      //   }
      // }

      @media (min-width: 768px) {
        div[id^="edit-loan-part-actions-wrapper"] {
          .form-type-processed-text {
            text-align: right;
          }
        }
      }
    }
  }

  .message-box {

    border: 1px solid #daeaef;
    padding: 15px;
    margin-top: 8px;

    .form-group {
      margin: 0;
    }

    &.message-box-warning {
      border: 3px double #ec0000;
    }

    &.message-box-hidden {
      display: none;
    }
  }

  .container-your-mortgage-gates {
    margin: 0;
  }

}
