.webform-submission-form.mortgage-comparison {

  /* Rows hidden by filtering */

  .view-mortgage-products-additional #product-comparison-table .row-data.filtered {
    display: none;
  }

  .view-mortgage-products-additional #product-comparison-table .row-data.hidden {
    display: none;
  }

  .form-item-loan-term .select-wrapper {
    max-width: 160px;
  }

}

