@import "_variables";

/*  Mortage calculator styles */

.webform-submission-form.mortgage-calculator {

  .description {
    margin-bottom: 0;
  }

  .help-block {

    margin-bottom: 0;

    .form-group {
      margin-bottom: 0;
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-item select {
    line-height: 1.2;
  }

  .form-item-buyer-type-select .select-wrapper {
    max-width: 300px;
  }

  .form-item-current-mortgage-balance .form-input-container {
    max-width: 200px;
  }

  .form-item-income-applicant-1-annual-amount .form-input-container,
  .form-item-income-applicant-2-annual-amount .form-input-container {
    max-width: 200px;
  }

  .form-item-income-applicant-1-extra-annual-amount .form-input-container,
  .form-item-income-applicant-2-extra-annual-amount .form-input-container {
    max-width: 200px;
  }

  .form-item-income-applicant-1-other-annual-amount .form-input-container,
  .form-item-income-applicant-2-other-annual-amount .form-input-container {
    max-width: 200px;
  }

  .form-item-income-applicant-1-csa-monthly-amount .form-input-container,
  .form-item-income-applicant-2-csa-monthly-amount .form-input-container {
    max-width: 200px;
  }

  .container-applicants {

    display: flex;
    align-items: flex-end;

    .buttons-applicants {

      flex: 0 0 170px;

      @media (min-width: 375px) {
        flex: 0 0 240px;
      }
    }

    .threepluslink {

      flex: 0 0 auto;
      height: 30px;
      margin: 0 0 7px 0;

      .ajax-throbber {
        margin-left: 10px;
        color: $red;
      }
    }
  }

  .webform-type-radios.buttons {

    div[id^="edit-applicants"] {

      width: 160px;

      label.option {
        min-width: 60px;
      }

      @media (min-width: 375px) {

        width: 230px;

        label.option {
          min-width: 90px;
          font-size: 16px;
        }
      }

/*      @media (min-width: 768px) {

        width: 260px;

        label.option {
          min-width: 90px;
          font-size: 16px;
        }
      }*/
    }

    div[id^="edit-dependants"] {

      width: 290px;

      label.option {
        min-width: 60px;
      }

      @media (min-width: 768px) {

        width: 400px;

        label.option {
          min-width: 100px;
        }
      }
    }
  }

  .form-item-commitments-credit-card .form-input-container {
    max-width: 200px;
  }

  .form-item-commitments-loans .form-input-container {
    max-width: 265px;
  }

  .form-item-commitments-outgoings .form-input-container {
    max-width: 265px;
  }

  .form-item-deposit .form-input-container {
    max-width: 200px;
  }

  .form-item-terms .select-wrapper {
    max-width: 300px;
  }

  .webform-type-radios legend span,
  .form-item label {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .webform-type-radios .form-item label {
    margin: 0;
  }

  .form-type-webform-markup {

    padding: 0;

    h2 {
      font-size: 24px;
      line-height: 28px;
      color: $black;
      border-bottom: 2px solid #ddd;
      padding-bottom: 15px;
      margin-top: 10px;
    }

  }

  .form-actions {

    clear: both;

    .btn {

      height: 40px;
      font-size: 16px;
      line-height: 22px;

      &.webform-button--next {
        margin: 20px 0 10px;
      }

      // &:hover {
      //   color: #000;
      //   background-color: #ec0000;
      //   border-color: #fff;
      // }
    }
  }

  .form-type-processed-text {

    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  .form-actions-show-mortgages {

    display: inline-block;

    button {

      margin-right: 0;

      @media (min-width: 512px) {
        margin-right: 10px;
      }
    }
  }

  .form-actions-decision-in-principle {

    display: inline-block;

    button {
      height: 40px;
    }
  }

  .form-actions-change-answers {

    text-align: center;
    margin-bottom: 0;

    @media (min-width: 768px) {
      text-align: right;
    }
  }

  .form-item-borrow-amount {

    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      padding: 20px;
    }

    label {
      font-size: 18px;
      line-height: 22px;
      color: $black;
      margin-bottom: 20px;
    }

    input {
      margin-top: 15px;
    }
  }

  .result-box  {

    padding: 30px;
    margin: 0;

    background-color: #eef6f8;

    .result-text {
      font-size: 18px;
      line-height: 22px;
      color: $black;
    }

    .result-value {

      font-size: 28px;
      line-height: 32px;
      color: $black;

      &.underline{
        display: inline;
        border-bottom: 2px solid $red;
      }
    }

    .disclaimer {
      margin-top: 10px;
      font-size: 14px;
    }

    @media (min-width: 768px) {

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        margin-left: 10px;
      }

      &.result-box-deposit {
        margin-left: 0;
      }

      &.result-box-term {
        margin-right: 0;
      }
    }
  }

  .plain-box {
    border: 1px solid #9bc3d3;
    padding: 15px;
  }

  .box {
    text-align: center;
    padding: 15px;
    background: #eef6f8;
  }

  #house-indicator {
    margin-bottom: 30px;
  }

  label {
    color: $black;
    display: block;
  }

  .loan-deposit-container {

    margin-left: 50%;
    margin-top:80px ;

    p {
      text-align: left;
    }

    .loan{

      &:before {
        content:'';
        display:inline-block;
        border: 2px solid $red;
        width: 18px;
        height: 18px;
        vertical-align: sub;
        margin-right: 5px;
      }
    }

    .deposit {

      &:before {
        content: '';
        display: inline-block;
        background: $red;
        width: 20px;
        height: 20px;
        vertical-align: sub;
        margin-right: 5px;
      }
    }
  }

  .no-padding-bottom.form-group {
    padding-bottom:0;
    margin-bottom:0;
  }
}
