{#
/**
 * @file mortgage_rates_entity.html.twig
 * Default theme implementation to present Mortgage rates data.
 *
 * This template is used when viewing Mortgage rates pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mortgage_rates_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mortgage_rates_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
