{%
  set rows = {
     0: { id: "name", title: ""},
     2: { id: "initial_rate", title: "Initial rate"},
     3: { id: "differential_to_bbr", title: "Differential to Bank of England base rate (currently 0.75%)"},
     4: { id: "follow_on_rate", title: "Then changing to Santander's Follow-on Rate (variable)"},
     5: { id: "apr", title: "The overall cost for comparison (APRC)"},
     6: { id: "booking_fee", title: "Product fee"},
     7: { id: "charge_end_date", title: "When does this rate end?"},
     8: { id: "erc", title: "Early repayment charge (ERC)"},
     9: { id: "monthly_cost", title: "Monthly cost"}
  }
%}

<h2 id="mortgage-comparison-title">Comparing x loans</h2>
<table cellspacing="0" cellpadding="0" style="" id="mortgage-comparison-table">
  {% for row in rows %}

    {% set rowname = row.id | replace({'_': '-'}) %}

    {% if loop.first %}
      <thead>
        <tr class="row-{{ loop.index0 }} row-{{ rowname }} row-header">
          <th class="heading"></th>
          <th id="{{ rowname }}-0" class="col col-product-0" data-field-name="{{ row.id }}" data-column-number="0" data-current-product="none" style="display: none">
            <div class="field-title">-field-title-</div>
            <div class="field-value"></div>
          </th>
          <th id="{{ rowname }}-1" class="col col-product-1" data-field-name="{{ row.id }}" data-column-number="1" data-current-product="none" style="display: none">
            <div class="field-title">-field-title-</div>
            <div class="field-value"></div>
          </th>
          <th id="{{ rowname }}-2" class="col col-product-2" data-field-name="{{ row.id }}" data-column-number="2" data-current-product="none" style="display: none">
            <div class="field-title">-field-title-</div>
            <div class="field-value"></div>
          </th>
        </tr>
      </thead>
      <tbody>
    {% else %}
      <tr class="row-{{ loop.index0 }} row-{{ rowname }} row-data {{ loop.index0 is odd ? 'odd' : 'even'}}">
        <th class="heading">{{ row.title }}</th>
        <td id="{{ rowname }}-0" class="col col-product-0" data-field-name="{{ row.id }}" style="display: none">
          <div class="field-title">-field-title-</div>
          <div class="field-value"></div>
        </td>
        <td id="{{ rowname }}-1" class="col col-product-1" data-field-name="{{ row.id }}" style="display: none">
          <div class="field-title">-field-title-</div>
          <div class="field-value"></div>
        </td>
        <td id="{{ rowname }}-2" class="col col-product-2" data-field-name="{{ row.id }}" style="display: none">
          <div class="field-title">-field-title-</div>
          <div class="field-value"></div>
        </td>
      </tr>
      {% if loop.last %}
        </tbody>
      {% endif %}
    {% endif %}
  {% endfor %}
</table>
