/* .webform-submission-form.mortgage-comparison { */
/* Rows hidden by filtering */
/* } */
.webform-submission-form.mortgage-comparison .view-mortgage-products-additional #product-comparison-table .row-data.filtered {
  display: none;
}
.webform-submission-form.mortgage-comparison .view-mortgage-products-additional #product-comparison-table .row-data.hidden {
  display: none;
}
.webform-submission-form.mortgage-comparison .form-item-loan-term .select-wrapper {
  max-width: 160px;
}
