/*  Mortage calculator additional styles */
.webform-submission-form.mortgage-calculator-additional .form-item-property-value .form-input-container {
  max-width: 298px;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator-additional .form-item-property-value .form-input-container {
    max-width: 200px;
} }

.webform-submission-form.mortgage-calculator-additional div[id^="edit-loan-term-container"] {
  margin-top: 20px;
}

.webform-submission-form.mortgage-calculator-additional .form-item-loan-part-amount-1 .form-input-container,
.webform-submission-form.mortgage-calculator-additional .form-item-loan-part-amount-2 .form-input-container,
.webform-submission-form.mortgage-calculator-additional .form-item-loan-part-amount-3 .form-input-container,
.webform-submission-form.mortgage-calculator-additional .form-item-loan-part-amount-4 .form-input-container,
.webform-submission-form.mortgage-calculator-additional .form-item-loan-part-amount-5 .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part {
  padding: 10px;
  border: 1px solid #daeaef;
  margin-top: 20px;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part .form-item.radio .control-label {
  min-width: 128px;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part .fieldset-wrapper {
  margin-top: 0;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part .fieldset-legend {
  margin-top: 0;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part.loan-part-hidden {
  display: none;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part.loan-part-hidden legend {
  display: none;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part:first-child {
  margin-top: 0;
}
.webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part .form-group {
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part .btn-remove-loan-part {
    margin-top: 12px;
} }
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator-additional .container-loan-parts .loan-part div[id^="edit-loan-part-actions-wrapper"] .form-type-processed-text {
    text-align: right;
} }

.webform-submission-form.mortgage-calculator-additional .message-box {
  border: 1px solid #daeaef;
  padding: 15px;
  margin-top: 8px;
}
.webform-submission-form.mortgage-calculator-additional .message-box .form-group {
  margin: 0;
}
.webform-submission-form.mortgage-calculator-additional .message-box.message-box-warning {
  border: 3px double #ec0000;
}
.webform-submission-form.mortgage-calculator-additional .message-box.message-box-hidden {
  display: none;
}

.webform-submission-form.mortgage-calculator-additional .container-your-mortgage-gates {
  margin: 0;
}
