/*  Mortage calculator styles */
.webform-submission-form.mortgage-calculator .description {
  margin-bottom: 0;
}

.webform-submission-form.mortgage-calculator .help-block {
  margin-bottom: 0;
}
.webform-submission-form.mortgage-calculator .help-block .form-group {
  margin-bottom: 0;
}

.webform-submission-form.mortgage-calculator .form-group {
  margin-bottom: 15px;
}

.webform-submission-form.mortgage-calculator .form-item select {
  line-height: 1.2;
}

.webform-submission-form.mortgage-calculator .form-item-buyer-type-select .select-wrapper {
  max-width: 300px;
}

.webform-submission-form.mortgage-calculator .form-item-current-mortgage-balance .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .form-item-income-applicant-1-annual-amount .form-input-container,
.webform-submission-form.mortgage-calculator .form-item-income-applicant-2-annual-amount .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .form-item-income-applicant-1-extra-annual-amount .form-input-container,
.webform-submission-form.mortgage-calculator .form-item-income-applicant-2-extra-annual-amount .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .form-item-income-applicant-1-other-annual-amount .form-input-container,
.webform-submission-form.mortgage-calculator .form-item-income-applicant-2-other-annual-amount .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .form-item-income-applicant-1-csa-monthly-amount .form-input-container,
.webform-submission-form.mortgage-calculator .form-item-income-applicant-2-csa-monthly-amount .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .container-applicants {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
}
.webform-submission-form.mortgage-calculator .container-applicants .buttons-applicants {
  -ms-flex: 0 0 170px;
  flex: 0 0 170px;
}
@media (min-width: 375px) {
  .webform-submission-form.mortgage-calculator .container-applicants .buttons-applicants {
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
} }
.webform-submission-form.mortgage-calculator .container-applicants .threepluslink {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 30px;
  margin: 0 0 7px 0;
}
.webform-submission-form.mortgage-calculator .container-applicants .threepluslink .ajax-throbber {
  margin-left: 10px;
  color: #ec0000;
}

.webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-applicants"] {
  width: 160px;
  /*      @media (min-width: 768px) {

        width: 260px;

        label.option {
          min-width: 90px;
          font-size: 16px;
        }
      }*/ }
.webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-applicants"] label.option {
  min-width: 60px;
}
@media (min-width: 375px) {
  .webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-applicants"] {
    width: 230px;
}
  .webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-applicants"] label.option {
    min-width: 90px;
    font-size: 16px;
} }

.webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-dependants"] {
  width: 290px;
}
.webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-dependants"] label.option {
  min-width: 60px;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-dependants"] {
    width: 400px;
}
  .webform-submission-form.mortgage-calculator .webform-type-radios.buttons div[id^="edit-dependants"] label.option {
    min-width: 100px;
} }

.webform-submission-form.mortgage-calculator .form-item-commitments-credit-card .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .form-item-commitments-loans .form-input-container {
  max-width: 265px;
}

.webform-submission-form.mortgage-calculator .form-item-commitments-outgoings .form-input-container {
  max-width: 265px;
}

.webform-submission-form.mortgage-calculator .form-item-deposit .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-calculator .form-item-terms .select-wrapper {
  max-width: 300px;
}

.webform-submission-form.mortgage-calculator .webform-type-radios legend span,
.webform-submission-form.mortgage-calculator .form-item label {
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.webform-submission-form.mortgage-calculator .webform-type-radios .form-item label {
  margin: 0;
}

.webform-submission-form.mortgage-calculator .form-type-webform-markup {
  padding: 0;
}
.webform-submission-form.mortgage-calculator .form-type-webform-markup h2 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
  margin-top: 10px;
}

.webform-submission-form.mortgage-calculator .form-actions {
  clear: both;
}
.webform-submission-form.mortgage-calculator .form-actions .btn {
  height: 40px;
  font-size: 16px;
  line-height: 22px;
}
.webform-submission-form.mortgage-calculator .form-actions .btn.webform-button--next {
  margin: 20px 0 10px;
}

.webform-submission-form.mortgage-calculator .form-type-processed-text {
  text-align: center;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator .form-type-processed-text {
    text-align: left;
} }

.webform-submission-form.mortgage-calculator .form-actions-show-mortgages {
  display: inline-block;
}
.webform-submission-form.mortgage-calculator .form-actions-show-mortgages button {
  margin-right: 0;
}
@media (min-width: 512px) {
  .webform-submission-form.mortgage-calculator .form-actions-show-mortgages button {
    margin-right: 10px;
} }

.webform-submission-form.mortgage-calculator .form-actions-decision-in-principle {
  display: inline-block;
}
.webform-submission-form.mortgage-calculator .form-actions-decision-in-principle button {
  height: 40px;
}

.webform-submission-form.mortgage-calculator .form-actions-change-answers {
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator .form-actions-change-answers {
    text-align: right;
} }

.webform-submission-form.mortgage-calculator .form-item-borrow-amount {
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator .form-item-borrow-amount {
    padding: 20px;
} }
.webform-submission-form.mortgage-calculator .form-item-borrow-amount label {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
}
.webform-submission-form.mortgage-calculator .form-item-borrow-amount input {
  margin-top: 15px;
}

.webform-submission-form.mortgage-calculator .result-box {
  padding: 30px;
  margin: 0;
  background-color: #eef6f8;
}
.webform-submission-form.mortgage-calculator .result-box .result-text {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.webform-submission-form.mortgage-calculator .result-box .result-value {
  font-size: 28px;
  line-height: 32px;
  color: #000000;
}
.webform-submission-form.mortgage-calculator .result-box .result-value.underline {
  display: inline;
  border-bottom: 2px solid #ec0000;
}
.webform-submission-form.mortgage-calculator .result-box .disclaimer {
  margin-top: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-calculator .result-box:first-child {
    margin-right: 10px;
}
  .webform-submission-form.mortgage-calculator .result-box:last-child {
    margin-left: 10px;
}
  .webform-submission-form.mortgage-calculator .result-box.result-box-deposit {
    margin-left: 0;
}
  .webform-submission-form.mortgage-calculator .result-box.result-box-term {
    margin-right: 0;
} }

.webform-submission-form.mortgage-calculator .plain-box {
  border: 1px solid #9bc3d3;
  padding: 15px;
}

.webform-submission-form.mortgage-calculator .box {
  text-align: center;
  padding: 15px;
  background: #eef6f8;
}

.webform-submission-form.mortgage-calculator #house-indicator {
  margin-bottom: 30px;
}

.webform-submission-form.mortgage-calculator label {
  color: #000000;
  display: block;
}

.webform-submission-form.mortgage-calculator .loan-deposit-container {
  margin-left: 50%;
  margin-top: 80px;
}
.webform-submission-form.mortgage-calculator .loan-deposit-container p {
  text-align: left;
}
.webform-submission-form.mortgage-calculator .loan-deposit-container .loan:before {
  content: '';
  display: inline-block;
  border: 2px solid #ec0000;
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-right: 5px;
}
.webform-submission-form.mortgage-calculator .loan-deposit-container .deposit:before {
  content: '';
  display: inline-block;
  background: #ec0000;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

.webform-submission-form.mortgage-calculator .no-padding-bottom.form-group {
  padding-bottom: 0;
  margin-bottom: 0;
}
