#edit-htb-isa,
#edit-santander-select {
  width: 250px;
}

#edit-show-products {
  margin-top: 15px;
  margin-bottom: 15px;
}

#edit-show-products-comparison {
  margin-bottom: 15px;
}

/* Input fields */
.webform-submission-form.mortgage-comparison .form-item select {
  line-height: 1.2;
}

.webform-submission-form.mortgage-comparison .form-item-property-value .form-input-container {
  max-width: 200px;
}

.webform-submission-form.mortgage-comparison .form-item-borrow-amount .form-input-container {
  max-width: 265px;
}

.webform-submission-form.mortgage-comparison .form-item-buyer-type .select-wrapper,
.webform-submission-form.mortgage-comparison .form-item-mortgage-term .select-wrapper {
  max-width: 300px;
}

.webform-submission-form.mortgage-comparison .form-item-cost-period {
  max-width: 185px;
}

.webform-submission-form.mortgage-comparison .webform-type-radios legend span,
.webform-submission-form.mortgage-comparison .form-item label {
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.webform-submission-form.mortgage-comparison .webform-type-radios .form-item label {
  margin: 0;
}

.webform-submission-form.mortgage-comparison .representative-example {
  margin-bottom: 20px;
}
.webform-submission-form.mortgage-comparison .representative-example h3 {
  margin-top: 10px;
}
.webform-submission-form.mortgage-comparison .representative-example .representative-example-wrapper {
  border: 1px solid lightblue;
  padding: 15px;
}

/* Results */
@media (max-width: 991px) {
  #btn-show-questions {
    margin-top: 10px;
} }

#edit-table-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
#edit-table-actions button {
  width: 300px;
}
#edit-table-actions button:first-child {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  #edit-table-actions button {
    margin-bottom: 0;
} }

@media (min-width: 768px) {
  #edit-show-all-products,
  #edit-compare-products,
  #edit-show-products-comparison,
  #edit-decision-in-principle {
    margin-right: 20px;
    float: left;
} }

/* .webform-submission-form.mortgage-comparison { */
/* Rows hidden by filtering */
/* } */
.webform-submission-form.mortgage-comparison .results-wrapper {
  border: 1px solid lightblue;
  overflow: auto;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .webform-submission-form.mortgage-comparison .results-wrapper {
    margin-bottom: 0;
} }
@media (max-width: 767px) {
  .webform-submission-form.mortgage-comparison .results-wrapper > .row:first-child > div.col-xs-12 {
    margin-bottom: 15px;
}
  .webform-submission-form.mortgage-comparison .results-wrapper > .row:first-child > div.col-xs-12:last-child {
    margin-bottom: 0;
} }
.webform-submission-form.mortgage-comparison .results-wrapper .how-much-calc {
  margin-top: 20px;
}
.webform-submission-form.mortgage-comparison .view-mortgage-products #product-comparison-table .row-data.filtered {
  display: none;
}
.webform-submission-form.mortgage-comparison .view-mortgage-products #product-comparison-table .row-data.hidden {
  display: none;
}

/* General layout of the comparison table */
#product-comparison-table {
  /* Secondary data show/hidden by toggle */
  /* Colors/styles etc... */
  background-color: #eef6f8;
  padding-top: 20px;
  padding-bottom: 20px;
}
#product-comparison-table .row-data {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data {
    -ms-flex-direction: row;
    flex-direction: row;
} }
#product-comparison-table .row-data .select-panel {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
}
#product-comparison-table .row-data .select-panel .field-select.checkbox {
  margin: 0;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data .select-panel {
    width: 25%;
    padding: 10px 10px 0 10px;
} }
#product-comparison-table .row-data .fields-panel {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  padding: 10px 10px 0 10px;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data .fields-panel {
    width: 75%;
} }
#product-comparison-table .row-data .primary-fields {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#product-comparison-table .row-data .field-title,
#product-comparison-table .row-data .field-value {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 50%;
}
#product-comparison-table .row-data .field-title {
  min-height: 0;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data .field-title {
    min-height: 45px;
} }
#product-comparison-table .row-data .field-value {
  min-height: 0;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data .field-value {
    min-height: 45px;
} }
#product-comparison-table .row-data .field-value-links {
  padding: 0 10px;
}
#product-comparison-table .row-data .field-value-links a {
  color: white;
  text-decoration: underline;
}
#product-comparison-table .row-data .field-value-links p {
  margin-bottom: 2px;
}
#product-comparison-table .row-data .primary-fields .field,
#product-comparison-table .row-data .secondary-fields .field {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data .primary-fields .field,
  #product-comparison-table .row-data .secondary-fields .field {
    width: 25%;
} }
#product-comparison-table .row-data .secondary-fields {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#product-comparison-table .row-data .footer-fields {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#product-comparison-table .row-data .footer-fields .field {
  display: block;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 768px) {
  #product-comparison-table .row-data .footer-fields .field-additional-benefits {
    width: 75%;
}
  #product-comparison-table .row-data .footer-fields .field-hide-extra {
    width: 25%;
} }
#product-comparison-table .secondary-fields-wrapper {
  display: none;
}
#product-comparison-table .select-panel {
  background-color: red;
  color: white;
}
#product-comparison-table .fields-panel {
  background-color: white;
}
#product-comparison-table .field {
  padding: 0 10px;
}
@media (min-width: 768px) {
  #product-comparison-table .field {
    padding: 10px;
} }
#product-comparison-table .field-title {
  font-size: 16px;
}
#product-comparison-table .field-value {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
#product-comparison-table .row-data .footer-fields .field-additional-benefits .field-value {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}
#product-comparison-table .row-data .trigger-secondary-fields {
  font-size: 18px;
  color: red;
  cursor: pointer;
}

/* web18 checkbox - Basically the same as bp-terms checkboxes but with improvements */
/* .webform-submission-form.mortgage-comparison .checkbox { */
/* Checkbox overrides for the compare form */
/* } */
.webform-submission-form.mortgage-comparison .checkbox input[type="checkbox"] {
  opacity: 0;
}
.webform-submission-form.mortgage-comparison .checkbox label {
  padding-left: 20px;
  text-align: left;
  font-weight: bold;
  display: block;
}
.webform-submission-form.mortgage-comparison .checkbox label .bp-checkbox {
  display: inline-block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: -4px;
  border: 1px solid #9bc3d3;
  border-radius: 5px;
  background-color: #fff;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.webform-submission-form.mortgage-comparison .checkbox label .text {
  margin-left: 20px;
}
.webform-submission-form.mortgage-comparison .checkbox input:checked ~ .bp-checkbox {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  color: #ec0000;
  text-align: center;
  line-height: 35px;
  background-size: 50%;
  display: block;
}
.webform-submission-form.mortgage-comparison .checkbox .bp-checkbox:after {
  content: '';
  position: absolute;
  display: none;
}
.webform-submission-form.mortgage-comparison .checkbox input:checked ~ .bp-checkbox:after {
  display: block;
}
.webform-submission-form.mortgage-comparison .checkbox .bp-checkbox:after {
  content: '';
  left: 11px;
  top: 5px;
  width: 8px;
  height: 17px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(35deg);
}
.webform-submission-form.mortgage-comparison .checkbox label .text {
  font-size: 16px;
  line-height: 26px;
}
.webform-submission-form.mortgage-comparison .checkbox input:checked ~ .bp-checkbox {
  text-shadow: none;
}

/* Detailed mortgage comparison table */
#mortgage-comparison-title {
  font-size: 24px;
}

#edit-mortgages-comparison thead {
  display: none;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison thead {
    display: table-header-group;
} }

#edit-mortgages-comparison thead th.heading {
  width: 258px;
}

#edit-mortgages-comparison thead th.col {
  width: 234px;
}

#edit-mortgages-comparison .heading,
#edit-mortgages-comparison .col {
  padding: 0;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison .heading,
  #edit-mortgages-comparison .col {
    padding: 16px;
} }

@media (min-width: 768px) {
  #edit-mortgages-comparison tbody {
    border: 1px solid #6f7779;
} }

#edit-mortgages-comparison thead .col {
  position: relative;
  background-color: red;
  color: white;
  border-right: 1px solid red;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
#edit-mortgages-comparison thead .col::after {
  content: '';
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  height: 50%;
  display: block;
  position: absolute;
  top: 25%;
  right: 0;
}
#edit-mortgages-comparison thead .col:last-child::after {
  display: none;
}

#edit-mortgages-comparison tr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 15px;
  border: 1px solid #6f7779;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr {
    display: table-row;
    margin-bottom: 0;
    border: none;
} }
#edit-mortgages-comparison tr td,
#edit-mortgages-comparison tr th {
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr td,
  #edit-mortgages-comparison tr th {
    display: table-cell;
} }
#edit-mortgages-comparison tr td .field-title,
#edit-mortgages-comparison tr th .field-title {
  display: block;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  border-right: 1px solid #6f7779;
  width: 40%;
  min-width: 110px;
  max-width: 240px;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr td .field-title,
  #edit-mortgages-comparison tr th .field-title {
    display: none;
    padding: 0;
    font-weight: normal;
} }
#edit-mortgages-comparison tr td .field-value,
#edit-mortgages-comparison tr th .field-value {
  padding: 10px;
  margin: auto;
  width: 60%;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr td .field-value,
  #edit-mortgages-comparison tr th .field-value {
    padding: 0;
    width: 100%;
} }

#edit-mortgages-comparison tr td.col-product-1 {
  background-color: #eef6f8;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr td.col-product-1 {
    background: none;
} }

#edit-mortgages-comparison tr.even {
  background: none;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr.even {
    background-color: #eef6f8;
} }

#edit-mortgages-comparison tr th.heading {
  position: relative;
  background-color: #6f7779;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 20px 10px;
  display: inline-block;
  text-align: center;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tr th.heading {
    padding: 16px;
    display: table-cell;
    text-align: left;
} }

@media (min-width: 768px) {
  #edit-mortgages-comparison tbody tr th.heading::after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 90%;
    display: block;
    position: absolute;
    bottom: 0;
}
  #edit-mortgages-comparison tbody tr:last-child th.heading::after {
    display: none;
} }

#edit-mortgages-comparison tr.row-header th.heading {
  visibility: hidden;
}

#edit-mortgages-comparison tbody td.col {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
}
@media (min-width: 768px) {
  #edit-mortgages-comparison tbody td.col {
    font-size: 15px;
    border-right: 1px solid #6f7779;
} }
