{#
/**
 * @file vehiculos.html.twig
 * Default theme implementation to present Vehiculos data.
 *
 * This template is used when viewing Vehiculos pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vehiculos()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vehiculos') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
